body{
  margin:0;
  background:#222;
  display:flex;
  flex-direction:column;
  align-items:center;
  padding:20px;
}

button{
  margin-bottom:20px;
  padding:12px 20px;
  font-size:18px;
  cursor:pointer;
}

canvas{
  background:white;
  border:4px solid black;
}
